@font-face {
  font-family: kindergarten;
  src: url(kindergarten.ttf);
}

body {
    background-color: #1b0036;
    background-image: url('bg.png');
    background-size: auto;
    background-repeat: repeat;
    margin: 0;
    animation: scrollBackground 30s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 256px;
  }
}

#generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#output {
  border-radius: 4px;
  border: 2px solid #ffffff;
  background: #0c0020;
  padding: 20px;
  width: 800px;
  height: 150px;
  font-size: 200%;
  color: #ffffff;
  font-family: kindergarten;
}

h1 {
    color: #ffee00;
    font-family: kindergarten;
    font-size: 400%;
}

p {
    color: #ffffff;
    font-family: kindergarten;
    font-size: 260%;
}

#followPixelkatButton,
#followDevButton,
#generateButton {
  background-color: #1b0036;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 8px; /* Adjust the value to control the roundness */
  overflow: hidden;
  display: flex;
  align-items: center;
}

#followPixelkatButton img,
#followDevButton img {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 50%;
}
