@font-face {
  font-family: kindergarten;
  src: url(kindergarten.ttf);
}

body {
    background-color: #1b0036;
    background-image: url('images/bg.png');
    background-size: auto;
    background-repeat: repeat;
    margin: 0;
    animation: scrollBackground 30s linear infinite;
}

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 256px 256px;
  }
}

h1 {
    color: #ffee00;
    font-family: kindergarten;
    font-size: 400%;
}

p {
    color: #ffffff;
    font-family: kindergarten;
    font-size: 260%;
}

#button:hover
{
  background-color: #2b0055;
}

#button {
  background-color: #1b0036;
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: monospace;
  margin: 8px 4px;
  cursor: pointer;
  border-radius: 8px; /* Adjust the value to control the roundness */
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: ease-out;
  transition-duration: 0.2s;
}

#button img {
  width: 64px;
  height: 64px;
  margin-right: 12px;
  border-radius: 50%;
}
